scale_gray=#888888

:global
  rect.scale-background
    stroke: scale_gray
    stroke-width: 4

  .scale-overlay
    rect
      fill: white
      stroke: none
    rect.even
      fill: scale_gray

  .tick-labels
    text-anchor: middle

  .unit-label
    text-anchor: start

  text
    font-family: "Chaparral Pro"
    fill: white

  .scale text
    fill: scale_gray
